*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
.container{
    display: flex;
    /* justify-content: space-around; */
    padding-left: 50px;
}
.first{
    background-color: black;
    color: #fff;
    justify-content: space-between;
    padding-top: 5px;
}
.second{
    /* display: flex; */
    height: 2em;
    justify-content: space-between;
    padding-right: 50px;
}
.list{
    display: flex;
    justify-content: space-around;
    /* margin: 45px; */
}
li{
    list-style: none;
    margin: 3px;
}
a{
    text-decoration: none;
}
.list > li:first-child:not([href="facebook"]){
    background-color: rgb(255, 73, 0);
    padding: 10px 5px 15px 5;
    /* height: 30px; */
    /* color: white; */
}
[href="#"]{
    color: #fff;
    /* padding: 10em 5px; */
}
.quote{
    background-color: rgb(255, 73, 0);
    /* text-align: center; */
    color: white;
    padding: 7px 7px 15px 7px;
    margin: 3px;
}
h2, .hero > h4{
    color: rgb(255, 73, 0);
    /* text-indent: 30px; */
}
.hero > h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}
.option{
    border: none;
}
input[type="text"]{
    /* padding: 9px 0 6px 10px; */
    /* position: relative; */
    /* bottom: 2px; */
    border: none;
    /* font-size: 15px; */
    padding-left: 20px;
    width: 100px;
}
.phone{
    display: flex;
    justify-content: space-between;
}
.social-logo{
    display: flex;
    color: #fff;
    /* justify-content: space-around; */
    /* margin-left: 210px; */
    margin-right: 50px;
}
.social-logo li a{
    margin-left: 10px;
}
.logo{
    color: #fff;
}
#num{
    margin-right: 24px;
    padding-right: 20px;
    border-right: 2px solid white;
}
.header-section{
    line-height: 50px;
    height: 10em;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-image: url(./images/header.jpg);
    background-size: contain;
}
.hero{
    background-color: rgba(0, 0, 0, 0.671);
    height: 29.5vh;
    text-align: center;
}
.hero > button{
    background-color: rgb(255, 73, 0);
    width: 98px;
    margin-left: -5px;
    padding: 5px;
}
.list-child > a{
    color: #000;
}
.list-child > a:hover{
    background-color: rgb(255, 73, 0);
    padding: 9px;
}
/* header styling ends here */
/* main styling starts here */
/* section one begins here */
.sec-one{
    margin: 50px 0;
    display: flex;
    /* height: px; */
    /* border: 5px solid green; */
    padding-left: 40px;
}
.vehicle-vid > img{
    height: 250px;
    width: 250px;
    margin-right: 15px;
}
h6{
    color: rgb(255, 73, 0);
}
.vehicle-vid > .para-one{
    background-color: rgb(255, 73, 0);
    width: 250px;
    padding: 15px 25px;
    margin-top: -5px;
    font-weight: bold;
}
.about-sec{
    margin-top: 40px;
}
h3{
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
}
.paragragh{
    font-size: 10px;
}
.space{
    margin: 15px  0;
    text-indent: none;
}
article{
    font-size: 15px;
    font-weight: bold;
    /* color: blue; */
}
article i{
    color: rgb(255, 73, 0);
}
/* setion one ends here */

/* Section two starts here */

.sec-two{
    display: flex;
    /* border: 3px solid black; */
    padding: 40px;
    background-color: #f2f2f4;
    padding-bottom: -0px;
    padding-top: -0px;
    margin-bottom: 50px;
}
.quote-div{
    padding-top: 50px;
    margin-right: 20px;
}
.details{
    display: flex;
    justify-content: space-evenly;
    margin-left: -160px;
    /* margin-top: 0px; */
    padding-bottom: 10px;
}
.experience > h1{
    color: rgb(255, 73, 0);
}
.experience .experts{
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
.main-form{
    background-color: rgb(255, 73, 0);
    padding: 50px 0 0 10px;
    height: 41vh;
    width: 50vw;
}
input, button{
    display: inline-block;
    margin: 5px;
    padding: 5px 8px;
    border: none;
}
button{
    width: 185px;
    color: #fff;
    background-color: rgb(32, 31, 45);
}

/* section two ends here */

/* section three begins here */

.sec-three{
    /* border: 2px solid; */
    height: 30px;
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: #f2f2f4;
}
.col-div{
    background-color: rgb(255, 73, 0);
    height: 5.5vh;
    margin-right: 33px;
    width: 20.1vw;
}

/* sec-three ends here */

/* sec-four begins here */

.sec-four{
    /* border: 2px solid; */
    margin-bottom: 50px;
    padding: 50px;
}
.main-services{
    display: flex;
    /* justify-content: space-evenly; */
    margin-right: 10px;
    /* justify-content: center; */
}
.header{
    text-align: center;
    margin-bottom: 20px;
    line-height: 5px;
}
.service #transport{
    background-color: rgb(255, 73, 0);
    width: 21.5vw;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.service .para2{
    width: 21.5vw;
    margin-right: 10px;
}
[href="link"]{
    color: rgb(255, 73, 0);
}

/* sec-four ends here */

/* sec-five begins here */

.sec-five{
    display: flex;
    /* border: 1px solid; */
    padding-left: 50px;
    margin-bottom: 50px;
    background-color: #f2f2f4;
}
.sec-five img{
    height: 50vh;
    margin-right: 10px;
}
.chooser{
    margin: 20px;
}
.chooser > button{
    background-color: rgb(255, 73, 0);
}
.chooser .choosen{
    margin-bottom: 5px;
}
.chooser h3{
    line-height: 29px;
}
.chooser p{
    margin: 7px 0;
}
/* sec-five ends here */

/* sec-six begins here */

.sec-six{
    /* border: 1px solid; */
    padding-left: 50px;
}
.sec-six > .staff-team img{
    width: 230px;
    margin-right: 10px;
}
.sec-six > .staff-team{
    display: flex;
}
/* sec-six ends here */

/* last-sec begins here */

.last-sec{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 50px 0;
    padding-left: 50px;
}
.last-sec div{
    background-color: #f2f2f4;
    border-bottom: 2px solid rgb(255, 73, 0);
    padding: 5px 20px;
    margin-right: 184px;
}
.last-sec div h5{
    padding-bottom: 6px;
}
.last-sec div:last-of-type{
    margin-right: none !important;
}

/* main stylig ends here */

/* footer styling begins here */

/* footer-sec begins here */
footer{
    background-color: rgb(32, 31, 45);
    padding-top: 50px;
}
.footer-sec{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-top: none;
    /* font-size: 10px; */
    padding-left: 50px;
    padding-right: 10px;
}
.footdiv h4{
    color: rgb(255, 73, 0);
    margin-bottom: 9px;
}
.footdiv p{
    color: white;
}
.footdiv ul a{
    color: #fff;
}
i{
    color: #fff;
}
.footdiv button{
    background-color: rgb(255, 73, 0);
    width: 100px;
    margin-left: -20px;
    margin-top: 10px;
}
.foot-logo{
    margin-top: 10px;
}
.foot-logo a{
    margin-right: 18px;
}
.footdiv p:not(except){
    margin-bottom: 9px;
}
/* footer-sec ends here */

/* foot-last-sec */

.foot-last-sec{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
span{
    color: rgb(255, 73, 0);
}
.foot-last-sec ul{
    display: flex;
    /* justify-content: space-between; */
    margin-right: 20px;
}
.foot-last-sec ul a{
    color: #fff;
}
.foot-last-sec div p{
    color: #fff;
}
/* media queries start here */

@media screen and (max-width: 550px) {
.first > .phone{
    font-size: small;
}
.first .social-logo{
    font-size: small;
}
.second > div{
    font-size: smaller;
    font-style: italic;
}
.second > pre{
    display: none;
}
.list > li a{
    font-size: smaller;
}
.sec-one, .sec-two{
    display: flex;
    flex-wrap: wrap;
}    
.details{
    display: none;
    /* flex-direction: column-reverse; */
}
.sec-four > .header{
    font-size: small;
}
.sec-four > .main-services{
    display: flex;
    flex-wrap: wrap;
}
.sec-five{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.sec-six > .header{
    font-size: small;
}
.sec-six > .staff-team{
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    gap: 20px;
}
.last-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footer-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foot-last-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}